<div class="comtainer">
  <div class="row">
    <div class="col-md-10">
      
      <div class="perpage">

        <div class="col-md-4 col-sm-4 col-md-offset-3 ">
          <div class="text-center">
            <%= image_tag @user.avatar, class:"img-responsive img-rounded" %>   
          </div>
        </div>

        <div class="col-md-5 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong><%= @user.email %></strong></p>
          <div><%= simple_format @user.intro %></div>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-warning" %>
            <% end %>
          </div>

        <div class="clearfix"></div>

      </div>

      <br>

      

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="comlay">
    <div class="panel panel-default text-center">
      <!-- 顯示已評論餐廳的清單 -->
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= @commented_restaurants.count %></strong> 已評論餐廳</h3>
      </div>
          
      <div class="panel-body">
        <% @commented_restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
          
        <div class="my-restaurant">
          <div>
            <%= image_tag restaurant.image, class: "img-responsive img-rounded" %>
            
            </div>
          <h5><%= restaurant.name %></h5>
        </div>
          
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  .my-restaurant{
    display: inline-block;
    text-align: center;
    padding: 7px 7px 0 7px;
  }
  .my-restaurant >div{
    height: 60px;
  }
  .my-restaurant img{
    max-height: 100%;
  }
  .panel a:hover, .my-restaurant{
    background-color: #eee;
  }
  .comlay{
    text-align: center;
    margin: 0 auto;
  }
  
</style>