
  <% if @restaurant.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul> 
  <% end %>

<div class="container">
  
  <div class="admfosen center-block">
    <%= form_for  [:admin, @restaurant] do |f| %>

    <div class="form-group fosen">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, {class: "form-control"} %>         
    </div>
    
    <div class="form-group fosen">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <div class="form-group fosen">
      <%= f.label :tel, "Tel" %>
      <%= f.text_field :tel, class: "form-control" %>
    </div>
    
    <div class="form-group fosen">
      <%= f.label :address, "Address" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    
    <div class="form-group fosen">
      <%= f.label :opening_hours, "Opening Hours" %>
      <%= f.text_field :opening_hours, class: "form-control" %>
    </div>
    
    <div class="form-group fosen">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    
    <div class="filesen">
      <%= f.label :image, "Photo" %>
      <%= image_tag @restaurant.image, width: '300px' if @restaurant.image? %>
      <%= f.file_field :image %>
      </div>
    
    <div>
      <%= f.submit class:'btn btn-info'%>
    </div>
  </div>

</div>

<% end %>


<style type="text/css">
  .fosen{
    width: 400px;
  }
  .filesen{
    float: left;
    margin-right: -20px;
  }
  .admfosen{
    width: 500px;
    padding-left: 50px;
  }


</style>
