<div class="container">
	<h1><%= @restaurant.name %></h1>
	<h5><%= @restaurant.category.name %></h5>
	<h5>
		Opening Hours:<%= @restaurant.opening_hours %>
	</h5>
	<h5>
		Tel: <%= @restaurant.tel %>
	</h5>
	<h5>
		Address: <%= @restaurant.address %>
	</h5>
	<h5>
		Description:<%= @restaurant.description %>
	</h5>
	<%= image_tag @restaurant.image, width: '600px' %>
	

	<h5><%= link_to 'Back to index', admin_restaurants_path %>
	</h5>
</div>