<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to '首頁', root_path %>
      </li>
      <li role="presentation">
        <%= link_to '最新動態', feeds_restaurants_path %>
      </li>
      <li role="presentation">
        <%= link_to 'TOP10人氣餐廳', ranking_restaurants_path %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>Top 10 人氣餐廳 <small>(收藏數最高)</small></h1>
      </div>

    <% @restaurants.each do |restaurant| %>
      <div class="ranking-item">
        <div class="col-md-3">
          <%= link_to restaurant_path(restaurant) do %>
            <%= image_tag restaurant.image, class: "img-responsive center-block" %>
          <% end %>
        </div>
 

      <div class="col-md-9">
        <h4>
          <%= restaurant.name %>
          <span class="label label-default">收藏數：<%= restaurant.favorites_count %></span>
        </h4>
        <p><%= truncate(restaurant.description, length: 200) %></p>
        <div>
          <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary" %>
          <%= render partial: 'shared/favorite', locals: { restaurant: restaurant } %>
        </div>
      </div>
      <div class="clearfix"></div>
      </div>
      <% end %>

    </div>
  </div>
</div>