<div class="container">
  <div class="text-center">
    <h4>餐廳分類表</h4>
  </div>

  <div class="text-center">
  <%= link_to 'Restaurant', admin_restaurants_path %> |
  <%= link_to 'Categories', admin_categories_path %>
  
  </div>

  <div class="form-inline text-center catesen" >
  <%= form_for [:admin, @category] do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder: "Category Name",  class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
    <% if @category.errors.any? %>
    <%= @category.errors.full_messages.to_sentence  %>
    <% end %>
  <% end %>

  </div>

 

  <table class="table table-hover">
    <thead>
      <tr>
        <th>No</th>
        <th>Category Name</th>
      </tr>
    </thead>
    <div>
      <% @categories.each do |category| %>
      <tr>
        <th scope="row"><%= category.id %></th>
        <td><%= category.name %></td>
        <td><%= link_to 'Edit', admin_categories_path(id: category.id) %></td>
        <td><%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: "Are you sure?"} %></td>
      </tr>
      <% end %>
    </div>
  </table>



</div>

<style>
  .catesen{
    padding-top: 10px;
  }

</style>